<!-- kanban.component.html -->
<div class="kanban-container">
    <!-- Botón modo oscuro -->
     
  
    <!-- Botón para abrir/cerrar menú -->
      <button class="open-menu-btn" (click)="menuAbierto = !menuAbierto">
        ☰
      </button>


      <!-- Menú lateral izquierdo -->
      <div class="sidebar" [class.open]="menuAbierto">
        <h3>{{'Encabezado.MenuU' | translate}}</h3>
        <button (click)="toggleDarkMode()">🌓 {{ 'Encabezado.BtModoOscuro' | translate }}</button>

        <div style="position: relative;">
          <button (click)="toggleIdiomas()">🌐 Cambiar idioma</button>

          <div *ngIf="mostrarIdiomas" class="dropdown-menu">
            <button (click)="cambiarIdioma('es')">Español</button>
            <button (click)="cambiarIdioma('en')">English</button>
            <button (click)="cambiarIdioma('fr')">Français</button>
            <button (click)="cambiarIdioma('de')">Deutsch</button>
          </div>
        </div>
      </div>






    

  <h1>{{ 'Encabezado.TITULO' | translate }}</h1>
  <!--  Filtros -->
  <div class="filtros">
    <!-- Estado -->
    <select [(ngModel)]="estadoSeleccionado" (change)="seleccionarEstado($event)">
      <option value="">{{ 'Encabezado.SelecEstado' | translate }}</option>
      <option *ngFor="let estado of estadosDisponibles" [value]="estado.descripcion">
        {{ estado.descripcion }}
      </option>
    </select>

    <!-- Tipo -->
    <select [(ngModel)]="tipoSeleccionado" (change)="seleccionarTipo($event)">
      <option [ngValue]="null">{{'Encabezado.SelecTipo' | translate}}</option>
      <option *ngFor="let tipo of tiposTareaDisponibles" [ngValue]="tipo.tipo_Tarea">
        {{ tipo.descripcion }}
      </option>
    </select>

    <!-- Prioridad -->
    <select [(ngModel)]="prioridadSeleccionada" (change)="aplicarFiltro()">
      <option [ngValue]="null">{{'Encabezado.SelectPrioridad'| translate}}</option>
      <option *ngFor="let prioridad of prioridadesDisponibles" [ngValue]="prioridad.nivel_Prioridad">
        {{ prioridad.nombre }}
      </option>
    </select>

    <!-- Referencia -->
    <div class="contenedor-input-referencia">
      <input
        type="text"
        [(ngModel)]="filtroReferencia"
        (input)="buscarPorReferencia()"
        (keydown.enter)="confirmarReferenciaConEnter()"
        [placeholder]="'Encabezado.BuscReferencia' | translate"
      />
      <button (click)="limpiarFiltros()">{{'Encabezado.BtFiltro' | translate}}</button>

      <div *ngIf="mostrarResultadosFlotantes" class="ventana-resultados">
        <div class="cabecera-ventana">
          <h4>{{'Encabezado.VentanaEmergente' | translate}}</h4>
          <button (click)="mostrarResultadosFlotantes = false" class="cerrar-ventana">✖</button>
        </div>
        <ul class="lista-referencias">
          <li
            *ngFor="let r of resultadosReferencia"
            (click)="filtrarPorReferenciaSeleccionada(r)"
            class="opcion-referencia"
          >
            <strong>{{ r.referencia }}</strong> – {{ r.descripcion }}<br />
            <small>ID: {{ r.referencia_Id }}</small>

          </li>
        </ul>
      </div>
      <!-- Usuario -->
<div class="contenedor-input-usuario">
  <input
    type="text"
    [(ngModel)]="filtroUsuario"
    (input)="buscarPorUsuario()"
    (keydown.enter)="confirmarUsuarioConEnter()"
    [placeholder]= "'Encabezado.BuscUsuario'| translate"
  />

  <div *ngIf="mostrarUsuariosFlotantes" class="ventana-resultados">
    <div class="cabecera-ventana">
      <h4>{{'Encabezado.VentanaEmergente' | translate}}</h4>
      <button (click)="mostrarUsuariosFlotantes = false" class="cerrar-ventana">✖</button>
    </div>
    <ul class="lista-referencias">
      <li
        *ngFor="let u of usuariosCoincidentes"
        (click)="filtrarPorUsuarioSeleccionado(u)"
        class="opcion-referencia"
      >
        <strong>{{ u.userName }}</strong> – {{ u.name }}<br />
        <small>{{ u.email }}</small>
      </li>
    </ul>
    
  </div>
</div>

    </div>
  </div>

  <!-- Tabs -->
  <div class="tab-container">
    <button [class.active-tab]="vistaActiva === 'todas'" (click)="cambiarVista('todas')">{{'Pestanias.TarTodas' | translate}}</button>
    <button [class.active-tab]="vistaActiva === 'creadas'" (click)="cambiarVista('creadas')">{{'Pestanias.TarCreadas' | translate}}</button>
    <button [class.active-tab]="vistaActiva === 'asignadas'" (click)="cambiarVista('asignadas')">{{'Pestanias.TarAsignadas' | translate}}</button>
    <button [class.active-tab]="vistaActiva === 'invitaciones'" (click)="cambiarVista('invitaciones')">{{'Pestanias.TarInvitaciones' | translate}}</button>
  </div>


  <!-- Tablero Kanban -->
  <div class="kanban-wrapper">
    <div class="kanban-board">
      <div class="column" *ngFor="let estado of obtenerEstadosUnicos()">
        <div class="column-title">{{ estado }}</div>
        <div class="task" *ngFor="let tarea of getTareasPorEstado(estado)">
          <div class="task-prioridad" [ngStyle]="{ 'background-color': getColorPrioridad(tarea.nivel_Prioridad) }"></div>
          <div class="task-content">
            <strong>{{'Tareas.ID' | translate}}:</strong> {{ tarea.iD_Tarea }}<br />
            <strong>{{'Tareas.Descripcion' | translate}}:</strong> {{ tarea.descripcion }}<br />
            <strong>{{'Tareas.Tipo' | translate}}:</strong> {{ tarea.descripcion_Tipo_Tarea }}<br />
            <strong>{{'Tareas.Prioridad' | translate}}:</strong> {{ tarea.nom_Nivel_Prioridad }}<br />
            <strong>{{'Tareas.Ref' | translate}}:</strong> {{ tarea.descripcion_Referencia }} ({{ tarea.referencia }})<br />
            <strong>{{'Tareas.Fecha' | translate}}:</strong> {{ tarea.fecha_Inicial | date: 'dd/MM/yyyy HH:mm' }}<br />
            <strong>{{'Tareas.Invitados' | translate}}:</strong>
            <span *ngIf="(tareaInvitados[tarea.iD_Tarea]?.length ?? 0) > 0">

              {{ getPrimerInvitado(tarea.iD_Tarea) }}
              <span *ngIf="getCantidadRestante(tarea.iD_Tarea) > 0"
                    [title]="getRestoInvitadosTooltip(tarea.iD_Tarea)">
                +{{ getCantidadRestante(tarea.iD_Tarea) }} más
              </span>
            </span>
            <span *ngIf="!tareaInvitados[tarea.iD_Tarea]?.length">
              Sin invitado
            </span>
            </div> 
          </div> 
        </div> 
      </div> 
    </div> 

    <!-- Paginación -->
    <div class="paginacion">
      <button (click)="anterior()" [disabled]="paginaActual === 1">«</button>

      <ng-container *ngFor="let num of paginasVisibles">
        <ng-container *ngIf="num !== -1">
          <button
            [class.activa]="num === paginaActual"
            (click)="irAPagina(num)">
            {{ num }}
          </button>
        </ng-container>
        <ng-container *ngIf="num === -1">
          <span class="separador">...</span>
        </ng-container>
      </ng-container>

      <button (click)="siguiente()" [disabled]="paginaActual === paginasTotales">»</button>
    </div>

